* {
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
}

.banner {
    margin-bottom: 75px;
}

img {
    max-width: 100%;
}

.img-1,
.missing-puppy,
.img-2 {
    width: 33%;
}

.img-1 img,
.missing-puppy img,
.img-2 img {
    width: 100%;
    height: auto;
}

.page-section .puppy {
    display: flex;
}

.page-section {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.puppy1 {
    display: flex;
    justify-content: space-between;
}

.blueBG {
    background-color: #085070;
}

.missing-puppy {
    background-color: #f04d65;
    margin: 0 1%;
    height: 54.4vh;
}

.missing-wrapper {
    font-size: 44px;
    padding: 86px 50px 45px;
    text-align: center;
}

.additional-puppies p {
    text-align: center;
    font-size: 40px;
    padding: 60px;
}

.myHeader {
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    text-align: center;
}

footer {
    margin-top: 75px;
    padding-top: 100px;
    padding-bottom: 125px;
    color: white;
    text-align: center;
    font-size: 40px;
}